.container{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
  justify-content: center;
}

#tooth1{
	background-color: transparent;
	border: transparent;
}

#tooth2{
	background-color: transparent;
	border: transparent;
}

#tooth3{
	background-color: transparent;
	border: transparent;
}
#tooth4{
	background-color: transparent;
	border: transparent;
}

#tooth5{
	background-color: transparent;
	border: transparent;
}